<% if @collection_of_words %>
  <!-- <%= @words %>:  <%= @collection_of_words %> -->

  <section class="collection">
    <% @collection_of_words.each do |word, score|%>
    <div><%= word %></div> <div><%=score %>
  <% end %>
  </section>
<% end %>




<!-- <div class="params">
  <%= params %>
</div> -->

<form action="" method="post" accept-charset="utf-8">
  <label for="scrabble_word">WORDS:</label>
  <input
    type="text"
    placeholder="place words"
    pattern="[A-Za-z]{1,7}{1,100}"
    name="words"
    value=""
    id="scrabble_word">
  <input type="submit" value="Submit">
</form>
